.main-container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.page-header{
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
.page-subheader{
    margin-bottom: 1em;
}

.article-container{
    padding: 1rem;
    margin-bottom: 2em;
    border: 1px solid;
    border-radius: 1rem;
}
.bad-message{
    font-style: italic;
    padding-top: 1rem;
}